{#
/**
 * @file
 * WWD override for a field.
 */
#}

{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'text-white',
    'text-uppercase',
  ]
%}

<h4{{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    {{- item.content -}}
  {%- endfor -%}
</h4>
