.node--message--teaser-xs {
  background: var(--c-white);
  border-end-end-radius: 60px;
  color: #3B4B68;

  & .node--content {
    padding: 12px 16px 12px 12px;
  }

  & .node--title {
    font-weight: 700;
  }
}
