/* Header classes. */
.navbar {
  min-height: var(--navbar-mh);
  background-color: var(--navbar-bg, var(--c-white));
  transition: .3s all linear;
  position: relative;

  & .hamburger {
    --ham--bgc: var(--c-gray-900);
    --ham--with: 1.75rem;
  }

  /* Border bottsa */
  &:after {
    content: "";
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }

  & .site-logo > svg {
    max-height: 56px;
  }

  & .navbar-nav {
    & .nav-link {
      --bs-nav-link-font-weight: 700;
      --bs-nav-link-color: var(--c-gray-800);
      --bs-nav-link-hover-color: #51E3C0;
      --bs-navbar-active-color: var(--bs-nav-link-hover-color);
      --bs-nav-link-padding-y: 14px;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 74.99rem) {
  .navbar-collapse {
    background-color: rgba(255,255,255,.8);

    /* & > div {
      height: calc(100vh - var(--navbar-mh));
    } */
  }
}

.h-sticky {
  margin-bottom: 20px;
}

.bg-tr:not(.h-sticky) {
  --nav-bg-sticky: var(--c-white);

  & .navbar {
    --navbar-bg: rgba(var(--white-rgb), .12);
  }

  & .path-c {
    fill: var(--nav-bg-sticky);
  }

  & .hamburger {
    --ham--bgc: var(--nav-bg-sticky);
  }

  & .navbar-nav {
    & .nav-link {
      --bs-nav-link-color: var(--nav-bg-sticky);
    }
  }
}
