/* Header classes. */
.navbar {
  background-color: var(--navbar-bg, var(--c-white));
  transition: .3s all linear;
  position: relative;

  & .hamburger {
    --ham--bgc: var(--c-gray-900);
    --ham--with: 1.75rem;
  }

  /* Border bottsa */
  &:after {
    content: "";
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }

  & .site-logo > svg {
    max-height: 56px;
  }

  & .navbar-nav {
    & .nav-link {
      --bs-nav-link-font-weight: 700;
      --bs-nav-link-color: var(--c-gray-800);
      --bs-nav-link-hover-color: #51E3C0;
      --bs-navbar-active-color: var(--bs-nav-link-hover-color);
      --bs-nav-link-padding-y: 14px;
      text-transform: uppercase;
    }
  }

  & .exw {
    min-height: var(--navbar-mh);
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
}

.block-language {
  & .btn-round {
    --btn-padding-x: 0;
    --btn-padding-y: 0;
    --btn-hover-color: #5BC09C;

    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--c-white);
    font-family: var(--body-font-family);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
  }
}

@media only screen and (max-width: 74.99rem) {
  .navbar-collapse {
    background-color: rgba(255,255,255,.98);
    position: absolute;
    top: 100%;
    inset-inline: 0;

    & > .container {
      padding-block: 1.5rem;
    }

    & .path-c {
      fill: var(--c-gray-900) !important;
    }
  }

  .exw {
    width: 100%;
  }

  .dropdown-menu-end[data-bs-popper] {
    right: inherit;
  }
}

.h-sticky {
  margin-bottom: 20px;
}

.bg-tr:not(.h-sticky) {
  --nav-bg-sticky: var(--c-white);

  & .navbar {
    --navbar-bg: rgba(var(--white-rgb), .12);
  }

  & .path-c {
    fill: var(--nav-bg-sticky);
  }

  & .hamburger {
    --ham--bgc: var(--nav-bg-sticky);
  }
}

@media only screen and (min-width: 75rem) {
  .collapse > .container {
    display: flex;
  }

  .bg-tr:not(.h-sticky) {
    & .navbar-nav {
      & .nav-link {
        --bs-nav-link-color: var(--nav-bg-sticky);
      }
    }
  }

  .block-language {
    margin-left: 1.5rem;
  }
}
