.grid-multimedia-posters {
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 36rem) {
  .grid-multimedia-posters {
    grid-template-columns: 33.333% auto 40%;

    &.gm--big {
      grid-template-rows: 0.5fr 0.5fr 1fr;
      grid-template-areas:
        "item-1 item-1 item-2"
        "item-1 item-1 item-3"
        "item-4 item-5 item-5";
    }

    &.gm--small {
      grid-template-rows: auto;
      grid-template-areas:
        "item-1 item-1 item-2"
        "item-1 item-1 item-3";
    }

    & .litem-0 {
      grid-area: item-1;
    }

    & .litem-1 {
      grid-area: item-2;
    }

    & .litem-2 {
      grid-area: item-3;
    }

    & .litem-3 {
      grid-area: item-4;
    }

    & .litem-4 {
      grid-area: item-5;
    }

    & .list-item {
      position: relative;

      & article {
        height: 100%;
      }

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
