.block--img-text {
  display: grid;
  grid-template-columns: 1fr calc(var(--container)*42/100) calc(var(--container)*58/100) 1fr;

}.block--img-text .block--info {
    grid-area: 1 / 2 / 2 / 3;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    color: var(--c-white);
    padding-right: 4.6875rem;
  }.block--img-text .block--info-bg {
    grid-area: 1 / 1 / 2 / 3;
  }.block--img-text .block--img {
    grid-area: 1 / 3 / 2 / 5;
  }.block--img-text .block--img img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }.block--img-text .block--title {
    --h1-font-size: 2.125rem;
  }.block--img-text .btn-arrow {
    margin-top: 1.5rem;
  }
