{#
/**
 * @file
 * WWD Theme implementation of a container used to wrap child elements.
 */
#}

{%
  set classes = [
    'w-btn-outline-primary',
  ]
%}

<div{{attributes.addClass(classes)}}>{{ children }}</div>
