{#
/**
 * @file
 * WWD Theme override to display a single page.
 */
#}

{% set header_attribute = create_attribute() %}
{% set footer_attribute = create_attribute() %}

{%
  set header_classes = [
    'header',
    'alignTop',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    navbar.position ? navbar.position,
    'position-relative',
  ]
%}

<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

{% block wrap_header %}
  <header
    {{- header_attribute
      .setAttribute('id', 'header')
      .addclass(header_classes)
    -}}
  >
    {% block header %}
      {%- include '@wwd/components/sections/header/header.html.twig' -%}
    {% endblock %}
  </header>
{% endblock %}

{% block wrap_main %}
  <main role="main" class="flex-grow-1 bg-gray-light">
    {% if use_banner %}
      {% include '@wwd/components/wwd/page-banner/page-banner.html.twig' %}
    {% else %}
      {{ page.highlighted }}
      {{ page.title }}
    {% endif %}

    {% block main %}
      <div class="container py-5">
        {% include '@wwd/components/sections/main/main.html.twig' %}
      </div>
    {% endblock %}
  </main>
{% endblock %}

{%- block footer -%}
  {%- include '@wwd/components/sections/footer/footer.html.twig' -%}
{%- endblock -%}

<a class="back-to-top" href="#main-content">
  <span class="visually-hidden">{{ "Back to Top"|t }}</span>
  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="50" height="50" rx="25" fill="white"/>
    <path d="M28.6333 28.3459L24.8125 24.5251L20.9917 28.3459L19.8125 27.1668L24.8125 22.1668L29.8125 27.1668L28.6333 28.3459Z" fill="#0ABAFF"/>
  </svg>
</a>
