:root {
  --p5: 72px;
  --p-block: 72px;
  --headings-font-weight: 600;
  --container: 100%;
}

/* sm */
@media screen and (min-width: 36rem) {
  :root {
    --container: 33.75rem;
  }
}

/* md */
@media screen and (min-width: 48rem) {
  :root {
    --container: 45rem;
  }
}

/* lg */
@media screen and (min-width: 62rem) {
  :root {
    --container: 60rem;
  }
}

/* xl */
@media screen and (min-width: 75rem) {
  :root {
    --container: 71.25rem;
  }
}

/* xxl */
@media screen and (min-width: 87.5rem) {
  :root {
    --container: 1296px;
  }
}

h1, .h1 {
  --h1-font-size: 3rem;
}

h2, .h2 {
  --h2-font-size: 2rem;
}
/* --h3-font-size: 1.75rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1rem; */
