:root {
  --p5: 4.5rem;
  --p-block: 4.5rem;
  --headings-font-weight: 600;
  --container: 100%;
}

@media (min-width: 62rem) {
  :root {
    --container: 60rem;
  }
}

@media (min-width: 75rem) {
  :root {
    --container: 71.25rem;
  }
}

@media (min-width: 87.5rem) {
  :root {
    --container: 81rem;
  }
}

h1, .h1 {
  --h1-font-size: 3rem;
}

h2, .h2 {
  --h2-font-size: 2rem;
}

/* --h3-font-size: 1.75rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1rem; */
