/* Header classes. */
.navbar {
  background-color: var(--navbar-bg, var(--c-white));
  transition: .3s all linear;
  position: relative;
}
.navbar .hamburger {
    --ham--bgc: var(--c-gray-900);
    --ham--with: 1.75rem;
  }
/* Border bottsa */
.navbar:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }
.navbar .site-logo > svg {
    max-height: 3.5rem;
  }
.navbar .navbar-nav .nav-link {
      --bs-nav-link-font-weight: 700;
      --bs-nav-link-color: var(--c-gray-800);
      --bs-nav-link-hover-color: #51E3C0;
      --bs-navbar-active-color: var(--bs-nav-link-hover-color);
      --bs-nav-link-padding-y: 0.875rem;
      text-transform: uppercase;
    }
.navbar .exw {
    min-height: var(--navbar-mh);
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
.block-language .btn-round {
    --btn-padding-x: 0;
    --btn-padding-y: 0;
    --btn-hover-color: #5BC09C;

    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    background-color: var(--c-white);
    font-family: var(--body-font-family);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
  }
@media only screen and (max-width: 74.99rem) {
  .navbar-collapse {
    background-color: rgba(255,255,255,.98);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

    .navbar-collapse > .container {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .navbar-collapse .path-c {
      fill: var(--c-gray-900) !important;
    }

  .exw {
    width: 100%;
  }

  .dropdown-menu-end[data-bs-popper] {
    right: inherit;
  }
}
.h-sticky {
  margin-bottom: 1.25rem;
}
.bg-tr:not(.h-sticky) {
  --nav-bg-sticky: var(--c-white);
}
.bg-tr:not(.h-sticky) .navbar {
    --navbar-bg: rgba(var(--white-rgb), .12);
  }
.bg-tr:not(.h-sticky) .path-c {
    fill: var(--nav-bg-sticky);
  }
.bg-tr:not(.h-sticky) .hamburger {
    --ham--bgc: var(--nav-bg-sticky);
  }
@media only screen and (min-width: 75rem) {
  .collapse > .container {
    display: flex;
  }
      .bg-tr:not(.h-sticky) .navbar-nav .nav-link {
        --bs-nav-link-color: var(--nav-bg-sticky);
      }

  .block-language {
    margin-left: 1.5rem;
  }
}
