/* Header classes. */
.navbar {
  min-height: var(--navbar-mh, 100px);
  background-color: var(--navbar-bg, var(--c-white));
  transition: .3s all linear;
  position: relative;

  /* Border bottsa */
}
.navbar:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }
.navbar .navbar-nav .nav-link {
      --bs-nav-link-font-weight: 700;
      --bs-nav-link-color: #3B4B68;
      --bs-nav-link-hover-color: #51E3C0;
      --bs-navbar-active-color: var(--bs-nav-link-hover-color);
      --bs-nav-link-padding-y: 0.875rem;
      text-transform: uppercase;
    }
.h-sticky {
  --navbar-mh: 5rem;
  margin-bottom: 1.25rem;
}
.bg-tr:not(.h-sticky) .navbar {
    --navbar-bg: rgba(var(--white-rgb), .12);
  }
.bg-tr:not(.h-sticky) .path-c {
    fill: var(--c-white);
  }
.bg-tr:not(.h-sticky) .navbar-nav .nav-link {
      --bs-nav-link-color: var(--c-white);
    }
