.block-views-blockpartners-block {
  padding-top: var(--p-block);
  padding-bottom: var(--p-block);
}

.grid-partners {
  --bs-columns: 2;
}

.grid-partners img {
    max-width: 100%;
    height: auto;
  }

@media (min-width: 24rem) {
  .grid-partners {
    --bs-columns: 3;
  }
}

@media (min-width: 48rem) {
  .grid-partners {
    --bs-columns: 5;
  }
}
