.block--mapbox {
  &.filter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    & .intro-info,
    & .mapbox--link {
      width: var(--container);
      margin-inline: auto;
      padding-right: .75rem;
      padding-left: .75rem;
    }

    & .mapbox--bgg {
      grid-area: 1 / 1 / 2 / 2;
    }

    & .intro-info {
      grid-area: 1 / 1 / 2 / 2;
      padding-block: 50px;
      color: var(--c-white);
    }

    & .mapbox--bgg-link {
      grid-area: 2 / 1 / 3 / 2;
      background: linear-gradient(91.26deg, #0ABAFF 0%, #1BF1FF 99.76%);
    }

    & .mapbox--link {
      grid-area: 2 / 1 / 3 / 2;
      padding-block: 4px;
    }

    & .map-info {
      grid-area: 3 / 1 / 4 / 2;
    }

    & .events-map {
      height: 100%;
    }

    & .field--name-body {
      width: 75%;
    }
  }

  &.homepage {
    position: relative;
    padding-block: 40px 70px;
    color: var(--c-white);

    & .mapbox--bgg {
      position: absolute;
      inset: 0;
      height: 48%;
      z-index: -1;
    }

    & .block--title.h1 {
      margin-bottom: 26px;
    }

    & .field--name-body {
      font-size: 14px;
      line-height: 18px;
    }

    & .btn-arrow.white {
      position: relative;
      isolation: isolate;
      padding-right: 30px;
      margin-block: 24px;

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        left: -26vw;
        z-index: -1;
        background: linear-gradient(91.26deg, #0ABAFF 0%, #1BF1FF 99.76%);
      }
    }

    & .w--map {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      & .btn-outline-primary {
        --btn-border-color: var(--c-white);
      }

      & .events-map {
        flex-grow: 1;
        width: 100%;
      }
    }
  }

  & .form-select {
    margin-top: 46px;
    border: var(--c-primary) 1px solid;
    border-radius: 5rem;
    padding: 14px 42px 14px 26px;
    width: 300px;
    max-width: 100%;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    background-image: url("../../../../img/icons/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-position: center right 26px;

    & option {
      color: var(--c-gray-800);
      font-size: 14px;
      line-height: 18px;
    }
  }

  & .w--disclaimer {
    position: absolute;
    right: 50px;
    bottom: 40px;
  }
}

@media (min-width: 62rem) {
  .block--mapbox {
    &.filter {
      grid-template-columns: auto calc(var(--container) * 42 / 100) calc(var(--container) * 58 / 100) auto;
      grid-template-rows: 1fr auto;

      & .intro-info {
        grid-area: 1 / 2 / 2 / 3;
        padding-block: 100px;
        width: auto;
      }

      & .mapbox--bgg {
        grid-area: 1 / 1 / 2 / 3;
      }

      & .map-info {
        grid-area: 1 / 3 / 3 / 5;
      }

      & .mapbox--link {
        grid-area: 2 / 2 / 3 / 3;
        padding-block: 4px;
      }

      & .mapbox--bgg-link {
        grid-area: 2 / 1 / 3 / 3;
      }
    }
  }
}
