{#
/**
 * @file
 * WWD override for a field.
 */
#}

{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'col-auto',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
