{#
/**
 * @file
 * WWD override for a field.
 */
#}

{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'col-auto',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <span>
      {{- item.content['#attributes']['datetime']|date("d") -}}
    </span>

    {{- item.content['#attributes']['datetime']|date("M") -}}
    <div class="event-year small">
      {{- item.content['#attributes']['datetime']|date("Y") -}}
    </div>

  {% endfor %}
</div>
