.block--video-text-block {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
  isolation: isolate;
}.block--video-text-block .block--title {
    --headings-color: var(--c-white);
    margin-bottom: 1.625rem;
    max-width: 84%;
  }.block--video-text-block:after {
    content: '';
    background: linear-gradient(75.52deg, #6B8C67 0%, #51E3C0 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);

    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 55%;
    width: 45vw;
    max-height: 21.25rem;
  }.block--video-text-block .media-oembed-content {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }.block--video-text-block .field--name-field-media-oembed-video {
    display: flex; /* remove white space bottom. */
  }

.multimedia-rows {
  gap: 1.25rem;
}
