.alignTop {
  top: 0;

  .toolbar-fixed:not(.toolbar-tray-open) & {
    top: 2.4375rem;
  }

  .toolbar-fixed.toolbar-horizontal.toolbar-tray-open & {
    top: 4.9375rem;
  }
}

.min-height {
  min-height:100vh;

  .toolbar-fixed:not(.toolbar-tray-open) & {
    min-height:calc(100vh - 2.4375rem);
  }

  .toolbar-fixed.toolbar-horizontal.toolbar-tray-open & {
    min-height:calc(100vh - 4.9375rem);
  }
}

.img-fit {
  width: 100%;
  height: 100vh;

  img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
