.btn {
  --btn-font-family: var(--headings-font-family);
  text-transform: uppercase;
  letter-spacing: .24rem;
}

.btn-link {
  --btn-hover-color: var(--link-color);
}

.btn-clear {
  --btn-padding-x: 0;
  --btn-padding-y: 0;
}

.btn-arrow {
  --btn-padding-x: 0;
}

.btn-arrow:after {
  content: url("data:image/svg+xml,%3csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.5303 6.53033C14.8232 6.23744 14.8232 5.76256 14.5303 5.46967L9.75736 0.696699C9.46447 0.403806 8.98959 0.403806 8.6967 0.696699C8.40381 0.989593 8.40381 1.46447 8.6967 1.75736L12.9393 6L8.6967 10.2426C8.40381 10.5355 8.40381 11.0104 8.6967 11.3033C8.98959 11.5962 9.46447 11.5962 9.75736 11.3033L14.5303 6.53033ZM0 6.75H14V5.25H0V6.75Z' fill='%230ABAFF'/%3e%3c/svg%3e");
  transition: var(--transition-base);
  margin-left: var(--btn-arrow-ml, .5rem);
}

.btn-arrow:hover {
  --btn-arrow-ml: 1rem
}
