body {
  --navbar-mh: 6.25rem;
}

.toolbar-oriented .toolbar-bar {
  z-index: 1502;
}

p:last-child {
  margin-bottom: 0;
}

.mt-block {
  margin-top: 6.25rem;
}

.pt-grid {
  padding-top: 1.25rem;
}

.pt-region {
  padding-top: var(--p-block);
}

.pb-region {
  padding-bottom: var(--p-block);
}

.py-region {
  padding-top: var(--p-block);
  padding-bottom: var(--p-block);
}

/* Header classes. */

.head-banner {
  height: 0;
}

.navbar {
  min-height: var(--navbar-mh);
  background-color: var(--navbar-bg, var(--c-white));
  transition: .3s all linear;
  position: relative;
}

.navbar:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }

.navbar .navbar-nav .nav-link {
      --bs-nav-link-font-weight: 700;
      --bs-nav-link-color: #3B4B68;
      --bs-nav-link-hover-color: #51E3C0;
      --bs-navbar-active-color: var(--bs-nav-link-hover-color);
      --bs-nav-link-padding-y: 0.875rem;
      text-transform: uppercase;
    }

.h-sticky {
  --navbar-mh: 5rem;

  .navbar {
    margin-bottom: 1.25rem;
  }
}

.bg-tr .navbar {
    --navbar-bg: rgba(var(--white-rgb), .12);
  }

.bg-tr .path-c {
    fill: var(--c-white);
  }

.bg-tr .navbar-nav .nav-link {
      --bs-nav-link-color: var(--c-white);
    }

.back-to-top {
  position: fixed;
  right: 3.125rem;
  bottom: 3.125rem;
}

.block .block--title.h1 {
    margin-bottom: 2.375rem;
  }

/* Social. */

.a2a_default_style:not(.a2a_flex_style) a:not(:last-child) {
  padding-right: 0.875rem;
}

/* Carousel. */

.carousel .carousel-indicators {
    position: relative;
    margin: 1.25rem 0;
  }

.carousel .carousel-indicators [data-bs-target] {
    border: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: .5;

  }

.carousel .carousel-indicators .active[data-bs-target] {
    opacity: 1;
  }

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev:hover .arrow, .carousel-control-next:hover .arrow {
    fill:var(--c-primary);
  }

.carousel-control-prev {
  width: 5.625rem;
  right: 100%;
  left: inherit;
}

.carousel-control-next {
  width: 5.625rem;
  left: 100%;
}

.w--img-fluid {
  /* temp for Upcoming Events image */
  display: flex;
  justify-content: center;
  /* end temp */
}

.w--img-fluid img {
    max-width: 100%;
    height: auto;
  }

.w--video--scroll {
  position: relative;
}

.w--video--scroll > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

/* Temp. */

.nav-tabs.primary {
  justify-content: center;
  margin-bottom: 1rem;
}

.b--prefooter--share .block__content {
    text-align: center;
  }

.b--prefooter--share .addtoany_list {
    display: flex;
    margin-bottom: 1.875rem;
    justify-content: center;
    gap: 1.875rem;
  }

.footer {
  background-color: #0D1B2A;
  color: var(--c-white);
}

.footer .h4 {
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

.footer .block--title {
    color: var(--c-primary);
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.625rem;
  }

.footer .nav-link {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.75rem;
  }

.footer .nav-inline .nav {
    display: flex;
    flex-direction: revert;
    flex-wrap: wrap;
    gap: 3rem;
  }

.region-footer-left .block + .block {
    margin-top: 3.75rem;
  }

.footer-logos .field--name-field-image {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

.region-footer-bottom {
  padding-top: 2.5rem;
  padding-bottom: 3.75rem;
  position: relative;
}

.region-footer-bottom:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }

.region-footer-bottom .addtoany_list {
    display: flex;
    gap: 1.75rem;
  }

.b--footer--social {
  background-color: transparent !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
  grid-gap: var(--bs-gap, 1.5rem);
  justify-items: center;
  align-items: center;
  justify-content: end;
}

.w--footer-social .social-rect {
    fill: transparent;
  }

.w--footer-social .social-icon {
    fill: var(--c-white);
  }

.block-language {
  margin-left: 1.5rem;
}

.block-language .btn-round {
    --btn-padding-x: 0;
    --btn-padding-y: 0;
    --btn-hover-color: #5BC09C;

    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    background-color: var(--c-white);
    font-family: var(--body-font-family);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
  }
