:root {
  --navbar-mh: 5rem;
}

.grid-flex {
  --gf--width: 20rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--gf--width), 1fr));
}

.page-title {
  --headings-color: var(--c-white);
  --h1-font-size: 3.25rem;

  margin-bottom: 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 45rem) {
  .page-title {
    max-width: 44%;
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 1502;
}

p:last-child {
  margin-bottom: 0;
}

.mt-block {
  margin-top: 6.25rem;
}

.pt-grid {
  padding-top: 1.25rem;
}

.pt-region {
  padding-top: var(--p-block);
}

.pb-region {
  padding-bottom: var(--p-block);
}

.py-region {
  padding-top: var(--p-block);
  padding-bottom: var(--p-block);
}

.back-to-top {
  position: fixed;
  right: 3.125rem;
  bottom: 3.125rem;
}

.block .block--title.h1 {
    margin-bottom: var(--btitle-mb, 2.375rem);
  }

/* Social. */

.a2a_default_style:not(.a2a_flex_style) a:not(:last-child) {
  padding-right: 0.875rem;
}

@media only screen and (max-width: 26.375rem) {
  .dropdown-container {
    align-items: flex-start;
  }

  .b-header-social .block__content {
    min-height: 6.1875rem;
  }

  .collapse-horizontal {
    margin-top: -0.875rem;
  }

    .collapse-horizontal > a {
      margin-top: 0.875rem;
    }
}

/* Carousel. */

.carousel .carousel-indicators {
    position: relative;
    margin: 1.25rem 0;
  }

.carousel .carousel-indicators [data-bs-target] {
    border: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: 0.5;
  }

.carousel .carousel-indicators .active[data-bs-target] {
    opacity: 1;
  }

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev:hover .arrow, .carousel-control-next:hover .arrow {
    fill: var(--c-primary);
  }

.carousel-control-prev {
  width: 5.625rem;
  right: 100%;
  left: inherit;
}

.carousel-control-next {
  width: 5.625rem;
  left: 100%;
}

.w--img-fluid {
  /* temp for Upcoming Events image */
  display: flex;
  justify-content: center;
  /* end temp */
}

.w--img-fluid img {
    max-width: 100%;
    height: auto;
  }

.w--video--scroll {
  position: relative;
}

.w--video--scroll > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

/* Temp. */

.field--name-body img {
    max-width: 100%;
    height: auto;
  }

.nav-tabs.primary {
  justify-content: center;
  margin-bottom: 1rem;
}

.b--prefooter--share .block__content {
    text-align: center;
  }

.b--prefooter--share .addtoany_list {
    display: flex;
    margin-bottom: 1.875rem;
    justify-content: center;
    gap: 1.875rem;
  }

.footer {
  background-color: var(--c-gray-900);
  color: var(--c-white);
}

.footer .h4 {
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

.footer .block--title {
    color: var(--c-primary);
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.625rem;
  }

.footer .nav-link {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.75rem;
  }

.footer .nav-inline .nav {
    display: flex;
    flex-direction: revert;
    flex-wrap: wrap;
    gap: 3rem;
  }

.region-footer {
  margin-top: 0 !important;
}

.region-footer-left .block + .block {
    margin-top: 3.75rem;
  }

.footer-logos .field--name-field-image {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

.footer-logos img {
    max-width: 100%;
    height: auto;
  }

.region-footer-bottom {
  padding-top: 2.5rem;
  padding-bottom: 3.75rem;
  position: relative;
}

.region-footer-bottom:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

.region-footer-bottom .addtoany_list {
    display: flex;
    gap: 1.75rem;
  }

.b--footer--social {
  background-color: transparent !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
  grid-gap: var(--bs-gap, 1.5rem);
  justify-items: center;
  align-items: center;
  justify-content: end;
}

.w--footer-social .social-rect {
    fill: transparent;
  }

.w--footer-social .social-icon {
    fill: var(--c-white);
  }

.modal {
  --modal-color: #3b4b68;
}

.modal .modal-header {
    border-color: var(--c-gray-200);
  }

.modal .modal-footer {
    border-color: var(--c-gray-200);
  }

.style-input .views-exposed-form label {
      display: none;
    }

.style-input .views-exposed-form .form-select {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      border: var(--c-primary) 1px solid;
      border-radius: 5rem;
      padding: 0.5rem 2rem 0.5rem 1rem;
      width: 18.75rem;
      max-width: 100%;
      font-weight: 700;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: white;
      background-image: url("data:image/svg+xml,%3csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.43301 8.25C5.24056 8.58333 4.75944 8.58333 4.56699 8.25L0.236861 0.750001C0.04441 0.416667 0.284972 9.36737e-07 0.669872 9.03088e-07L9.33013 1.45985e-07C9.71503 1.12336e-07 9.95559 0.416667 9.76314 0.75L5.43301 8.25Z' fill='url(%23paint0_linear_1_1074)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_1_1074' x1='11' y1='9' x2='-1.22842' y2='8.73137' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%230ABAFF'/%3e%3cstop offset='1' stop-color='%231BF1FF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center right 16px;
    }

.style-input .views-exposed-form .form-select option {
        color: var(--c-gray-800);
        font-size: 0.875rem;
        line-height: 1.125rem;
      }

.input-right .bef-exposed-form {
    display: flex;
    justify-content: flex-end;
  }

.radios-gradient {
  display: flex;
  gap: 1.25rem;
}

.radios-gradient > .form-item {
    position: relative;
  }

.radios-gradient > .form-item input {
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
      z-index: 1;
    }

.radios-gradient input:checked + label .gr-box {
    opacity: 1;
  }

.gr-box {
  width: 3.125rem;
  height: 3.125rem;
  background: linear-gradient(90deg, var(--bg-c1) 0%, var(--bg-c2) 100%);
  border-radius: 0.5rem;
  border: 2px solid var(--c-white);
  box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.7);
  opacity: 0.7;
}

#layout-builder-modal input.form-color {
  width: 3.125rem;
  height: 3.125rem;
  background: linear-gradient(90deg, var(--bg-c1) 0%, var(--bg-c2) 100%);
  border-radius: 0.5rem;
  border: 2px solid var(--c-white);
  box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.7);
  opacity: 0.7;
  padding: 0;
  overflow: hidden;
}

.text-white {
  --headings-color: var(--c-white);
}

.field--type-text-with-summary img {
    margin-bottom: 0.5rem;
  }

.field--type-text-with-summary img.align-left {
      margin-right: 1rem;
    }

.field--type-text-with-summary img.align-right {
      margin-left: 1rem;
    }

.pager__items {
  margin: 2rem 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
}

.pager__items .pager__item.active .btn-outline-primary {
      --btn-bg: var(--c-primary);
      --btn-color: var(--c-white);
    }

.pager__items .btn-outline-primary:hover {
    --btn-hover-bg: var(--c-primary);
    --btn-hover-border-color: var(--btn-hover-bg);
  }
