.grid-multimedia {
  display: grid;
  grid-template-columns: 33.333% auto 40%;
  grid-template-rows: 0.5fr .5fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "item1 item1 item-2"
    "item1 item1 item-3"
    "item-4 item-5 item-5";
}

.list-item-1 {
  grid-area: item1;
}

.list-item-2 {
  grid-area: item-2;
}

.list-item-3 {
  grid-area: item-3;
}

.list-item-4 {
  grid-area: item-4;
}

.list-item-5 {
  grid-area: item-5;
}

.list-item {
  position: relative;

  & article {
    height: 100%;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
