{#
/**
 * @file
 * WWD override to display a view of unformatted rows.
 */
#}

{{ attach_library('wwd/v--multimedia') }}

<div class="grid-multimedia">
  {% for row in rows %}
    <div{{row.attributes.addClass('list-item','list-item-'~loop.index)}}>
      {{- row.content -}}
    </div>
  {% endfor %}
</div>
