.page-banner {
  position: relative;
  isolation: isolate;
}

.page-banner--background {
  position: absolute;
  inset: 0;
  z-index: -1;
  top: calc(var(--navbar-mh) * -1);

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.dropdown-container {
  & .btn {
    margin-right: 1.5rem;
  }

  & .collapsing {
    display: flex;
  }
}
