.node--events--teaser {
  --e-p: 1.25rem;

  padding: var(--e-p);
  border: 1px solid #EDEFF3;
  background: var(--c-white);
}.node--events--teaser .node--content {
    max-width: 80%;
  }.node--events--teaser > .row {
    --gutter-x: 0;
    gap: var(--e-p);
    align-items: stretch;
  }.node--events--teaser .field--name-field-event-date {
    min-width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6C7D9E;
    font-family: var(--headings-font-family);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .02em;
    text-transform: uppercase;
  }.node--events--teaser .field--name-field-event-date span {
      display: block;
      font-size: 2.125rem;
      font-weight: 700;
    }.node--events--teaser .field--name-field-image {
    max-width: 11.25rem;
  }.node--events--teaser .field--name-field-image img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }.node--events--teaser .node--content .node--title {
    --headings-color: var(--c-primary);
    font-size: 1.5rem;
    font-weight: 600;
    min-height: 3.5rem;
  }.node--events--teaser .field--name-field-country {
    color: #6C7D9E;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
  }.node--events--teaser .field--name-field-country svg {
      margin-right: 0.75rem;
    }.node--events--teaser .field--name-field-organizer {
    font-size: 0.75rem;
    font-style: italic;
    margin-bottom: 0.5rem;
  }.node--events--teaser .btn-plus {
    --btn-padding-x: 0;
    --btn-color: #5BC09C;
    --btn-hover-color: #5BC09C;
  }.node--events--teaser .btn-plus:after {
      content: "+";
      transition: var(--transition-base);
      margin-left: var(--btn-arrow-ml, .5rem);
    }.node--events--teaser .btn-plus:hover {
      --btn-arrow-ml: 1rem
    }.node--events--teaser .content--collpase {
    margin-top: var(--e-p);
  }.node--events--teaser .field--label-inline {
    display: flex;
  }.node--events--teaser .field--label-inline .field__label {
      color: #5BC09C;
      font-weight: 700;
      margin-right: .5rem;
      margin-bottom: 0.75rem;
    }.node--events--teaser .field--label-inline .field__label:after {
        content: ":";
      }

.btn.btn-outline-primary.more-link {
  --btn-padding-x: 1.5rem;
  --btn-padding-y: 0.875rem;
  --btn-font-size: 1rem;
  font-family: var(--body-font-family);
  border-radius: 3em;

  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
}

.view--events--upcoming {
  gap: 1.375rem;
}

.view--events--upcoming .views-row {
    width: 100%;
  }
