{#
/**
 * @file
 * WWD override to display a view of unformatted rows.
 */
#}

{%
  set row_classes = [
    'list-item',
  ]
%}

{%
 for row in rows %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}

