body {
  --navbar-mh: 100px;
}

.header {
  z-index: 1;
}

.navbar {
  min-height: var(--navbar-mh);
  background-color: rgba(var(--white-rgb), .12);
  position: relative;

  &:after {
    content: "";
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }

  & .navbar-nav {
    & .nav-link {
      --bs-nav-link-font-weight: 700;
      --bs-nav-link-color: var(--c-white);
      --bs-nav-link-hover-color: var(--c-gray-100);
      --bs-nav-link-padding-y: 14px;
      text-transform: uppercase;
    }
  }
}
