body {
  --navbar-mh: 100px;
}

p:last-child {
  margin-bottom: 0;
}

.header {
  z-index: 1;
}

.mt-block {
  margin-top: 100px;
}

.pt-grid {
  padding-top: 20px;
}

.pt-region {
  padding-top: var(--p-block);
}

.pb-region {
  padding-bottom: var(--p-block);
}

.py-region {
  padding-block: var(--p-block);
}

/* Header classes. */
.head-banner {
  height: 0;
}

.navbar {
  min-height: var(--navbar-mh);
  background-color: var(--navbar-bg, var(--c-white));
  transition: .3s all linear;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }

  & .navbar-nav {
    & .nav-link {
      --bs-nav-link-font-weight: 700;
      --bs-nav-link-color: #3B4B68;
      --bs-nav-link-hover-color: #51E3C0;
      --bs-navbar-active-color: var(--bs-nav-link-hover-color);
      --bs-nav-link-padding-y: 14px;
      text-transform: uppercase;
    }
  }
}

.h-sticky {
  --navbar-mh: 80px;

  .navbar {
    margin-bottom: 20px;
  }
}

.bg-tr {
  & .navbar {
    --navbar-bg: rgba(var(--white-rgb), .12);
  }

  & .path-c {
    fill: var(--c-white);
  }

  & .navbar-nav {
    & .nav-link {
      --bs-nav-link-color: var(--c-white);
    }
  }
}

.back-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.block {
  & .block--title.h1 {
    margin-bottom: 38px;
  }
}

/* Social. */
.a2a_default_style:not(.a2a_flex_style) a:not(:last-child) {
  padding-right: 14px;
}

/* Carousel. */
.carousel {
  & .carousel-indicators {
    position: relative;
    margin: 20px 0;
  }

  & .carousel-indicators [data-bs-target] {
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: .5;

  }
  & .carousel-indicators [data-bs-target].active {
    opacity: 1;
  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;

  &:hover .arrow {
    fill:var(--c-primary);
  }
}

.carousel-control-prev {
  width: 90px;
  right: 100%;
  left: inherit;
}

.carousel-control-next {
  width: 90px;
  left: 100%;
}

.w--video--scroll {
  position: relative;

  & > * {
    position: absolute;
    inset: 0;
  }
}

/* Temp. */
.nav-tabs.primary {
  justify-content: center;
  margin-bottom: 1rem;
}
