{#
/**
 * @file
 * WWD Theme implementation for a 'form' element.
 */
#}

{# {{ attach_library('wwd/sbc--forms') }} #}

{% block form %}
  <form{{ attributes }}>
    {{ children }}
  </form>
{% endblock %}
