.paragraph--card {
  padding: 3.75rem 2.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}.paragraph--card .paragraph--title {
    padding-bottom: 1.625rem;
  }.paragraph--card .field--name-field-description {
    flex-grow: 1;
  }.paragraph--card .field--name-field-cta-link {
    margin-top: 3.125rem;
  }.paragraph--card .btn-arrow {
    --btn--arrow--white: url("../../img/icons/btn-arrow-white.svg");
    --btn-color: var(--c-white);
    --btn-hover-color: var(--c-white);
  }
