.layout-region--video {
  & .block {
    display: flex;
    flex-direction: column;
    height: calc(100% - 68px);
  }

  & .block__content {
    flex-grow: 1;
    overflow-x: hidden;
  }

  & .views-view-grid {
    position: absolute;
    inset: 0;
  }
}

.user-mode .layout-region--video {
  & .block {
    height: 100%;
  }
}
