.view--messages--page {
  padding-bottom: var(--p-block);
}.view--messages--page .wrap {
    border-left: 1px solid var(--c-primary);
  }.view--messages--page .list-message {
    display: flex;
    flex-direction: column;
    gap: var(--p-block);
  }.view--messages--page .list-item {
    padding-left: max(8.3333vw, 1.875rem);
    padding-right: max(8.3333vw, 1.875rem);
    position: relative;
  }.view--messages--page .list-item:after {
      content: '';
      position: absolute;
      top: 1.25rem;
      left: 0;
      background-color: var(--c-primary);
      width: calc(8.3333vw - 1.25rem);
      height: 1px;
    }.view--messages--page .btn-arrow {
    --btn-padding-y: 0;
  }
