{#
/**
 * @file
 * WWD override for a field.
 */
#}

<div class="flex-mini-cards d-flex flex-column flex-sm-row ms-sm-auto">
  {%- for item in items -%}
    {{- item.content -}}
  {%- endfor -%}
</div>
