// Align Top classes.
.alignTop {
  top: 0;
}

.toolbar-fixed:not(.toolbar-tray-open) .alignTop {
  top: 39px;
}

.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .alignTop {
  top: 79px;
}

// Min Height classes.
.min-height {
  min-height:100vh;
}

.toolbar-fixed:not(.toolbar-tray-open) .min-height {
  min-height:calc(100vh - 39px);
}

.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .min-height {
  min-height:calc(100vh - 79px);
}
