{#
/**
 * @file
 * WWD Theme override to display a block.
 */
#}

{% extends "block.html.twig" %}

{% block attach %}
  {{ attach_library('wwd/b--body') }}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div{{ content_attributes.addClass('block__content', 'col-md-10') }}>
      {{ content|without('field_background') }}
    </div>
  </div>
{% endblock %}
