.node--multimedia--video-teaser-column {
  & .node--content {
    margin-top: 14px;
  }

  & .node--date {
    font-size: 12px;
    font-style: italic;
    color: #6C7D9E;
    margin-bottom: 8px;
  }

  & .node--title {
    --headings-font-family: var(--body-font-family);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #5BC09C;
  }

  & .field--name-body {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3B4B68;
  }
}
