{#
/**
 * @file
 * WWD Theme override to display a single page.
 */
#}

{% extends "page.html.twig" %}

{% block wrap_header %}
  <header
    {{- header_attribute
      .setAttribute('id', 'header')
      .addclass(header_classes, use_banner and use_gradient == 0 ? 'bg-tr')
    -}}
  >
    {% block header %}
      {%- include '@wwd/components/sections/header/header.html.twig' -%}
    {% endblock %}
  </header>
{% endblock %}

{% block wrap_main %}
  {% if use_banner %}
    {% include '@wwd/components/wwd/page-banner/page-banner.html.twig' %}
  {% endif %}

  <main role="main" class="flex-grow-1">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% block main %}
      {% include '@wwd/components/sections/main/main.html.twig' %}
    {% endblock %}
  </main>
{% endblock %}
